* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  position: relative; }

.titulo-h2 {
  color: #000000;
  font-size: 50px;
  padding-top: 45px; }

.main-page {
  text-align: center;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto; }
  .main-page h1 {
    background-color: #185ba7;
    margin-top: 20px;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 50px; }

/*********************************** Header */
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(1, 8, 12, 0.6), rgba(0, 0, 0, 0.6), rgba(49, 55, 58, 0.6)), url(../assets/img/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar {
  background-color: #185ba7 !important; }
  .navbar .container .font-bold {
    font-size: 1.5rem;
    transition: all 0.3s; }
    .navbar .container .font-bold:hover {
      transform: scale(1.1);
      color: #95c7e4; }

.textos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  padding-top: 200px; }
  .textos h1 {
    font-size: 80px;
    margin-bottom: 50px;
    color: #5c90d8;
    animation-duration: 2s;
    animation-name: aparecer-rotar; }
  .textos h2 {
    margin-top: -15px;
    color: #f7e4e4;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px; }
  .textos h3 {
    font-size: 30px;
    margin-top: 10%;
    animation-duration: 6s;
    animation-name: aparecer; }

@keyframes aparecer-rotar {
  0% {
    opacity: 0; }
  from {
    transform: scale(0.2); }
  to {
    transform: scale(1); }
  100% {
    opacity: 1; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn-contacto {
  display: inline-block;
  background: none;
  border: 2px solid #185ba7;
  border-radius: 10px;
  color: #fff;
  padding: 20px 60px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 12px 0;
  transition: 0.6s; }
  .btn-contacto:hover {
    background-color: #8ebde4;
    color: black; }

/* Header responsive */
@media (max-width: 1024px) {
  .textos h1 {
    font-size: 50px; }
  .textos h3 {
    font-size: 25px; }
  .btn-contacto {
    font-size: 14px;
    padding: 10px 40px; } }

/*********************************** Nosotros */
.nosotros {
  padding: 40px; }
  .nosotros__titulo {
    text-align: center;
    padding: 0px 60px 40px 60px; }
    .nosotros__titulo button {
      color: #ffffff;
      border-color: #325980;
      background-color: #429ae2; }
      .nosotros__titulo button:hover {
        background-color: #325980; }
  .nosotros__descripcion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .nosotros__descripcion-texto {
      width: 700px; }
      .nosotros__descripcion-texto p {
        display: inline-block;
        color: #626466;
        line-height: 30px;
        letter-spacing: 1.5px; }
    .nosotros__descripcion-imagen img {
      width: 400px;
      max-width: 350px; }

/* Nosotros Page */
/*********************************** Servicios */
.servicios {
  background-color: #429ae2;
  padding: 40px; }
  .servicios__titulo {
    text-align: center;
    padding: 0px 60px 40px 60px; }
    .servicios__titulo button {
      color: #000000;
      border-color: #325980; }
      .servicios__titulo button:hover {
        background-color: #325980; }
  .servicios__icons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 80px;
    text-align: center; }
  .servicios__icons-container {
    transition: all 0.5s; }
    .servicios__icons-container:hover i {
      color: #1a58aa;
      transform: scale(1.1); }
  .servicios i {
    transition: all 0.5s;
    color: #ece5e5;
    font-size: 6rem; }
  .servicios__icons-details h4 {
    padding: 20px 0 15px 0;
    font-size: 1.4rem;
    font-weight: bold; }

.main-page table li {
  color: #dee6eb; }

.main-page table {
  width: 80% !important;
  margin: 2% auto 5% auto;
  overflow-x: hidden;
  /* Sin espacios*/
  border-collapse: collapse;
  font-weight: bold; }

th,
td {
  padding: 10px !important;
  text-align: center;
  color: #ffffff;
  width: 25%;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #000000; }

td ol {
  padding-left: 20px; }

th {
  background-color: #325980;
  text-transform: uppercase; }

tr:nth-child(odd) {
  background-color: #4ba0d1; }

tr:nth-child(even) {
  background-color: #0d4363; }

/* Servicios Page */
.servicios-page {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px; }
  .servicios-page button {
    color: #ffffff;
    border-color: #325980;
    background-color: #429ae2; }
    .servicios-page button:hover {
      background-color: #325980; }

.acordeon__titulo {
  margin: 40px 0;
  padding-top: 30px; }

.accordion {
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 80px;
  text-align: left;
  width: 80%; }

.accordion > .card > .card-header {
  background-color: #185ba7 !important; }

.accordion > .card > .card-header button {
  color: #ffffff !important; }

/* Servicios responsive */
@media (min-width: 1024px) {
  .servicios .servicios__icons {
    grid-template-columns: repeat(2, 350px);
    justify-items: center;
    justify-content: space-evenly; } }

/*********************************** Portafolio */
.portafolio {
  width: 80%;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  /* Declaracion del mapa */
  /* bucle*/ }
  .portafolio__titulo {
    padding-bottom: 40px; }
    .portafolio__titulo button {
      color: #ffffff;
      border-color: #325980;
      background-color: #429ae2; }
      .portafolio__titulo button:hover {
        background-color: #325980; }
  .portafolio__intro {
    font-size: 20px;
    padding-bottom: 40px; }
  .portafolio__imagenes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto; }
    .portafolio__imagenes-item {
      display: inline-block;
      text-align: center;
      width: 30%;
      margin: 10px auto;
      transition: all 0.5s; }
      .portafolio__imagenes-item:hover {
        transform: scale(1.2);
        cursor: pointer; }
      .portafolio__imagenes-item img {
        width: 90%; }
        .portafolio__imagenes-item img:hover {
          border: 2px solid #325980; }
  .portafolio .imagen01 {
    border-color: #325980; }
  .portafolio .imagen02 {
    border-color: #cf2721; }
  .portafolio .imagen03 {
    border-color: #328059; }
  .portafolio .imagen04 {
    border-color: #9c3594; }
  .portafolio .imagen05 {
    border-color: #ddd238; }
  .portafolio .imagen06 {
    border-color: #5a9aaa; }

/* Portafolio Page */
.portafolio-page {
  padding-bottom: 100px; }

@media (max-width: 1024px) {
  .portafolio .potafolio__imagenes div {
    width: 100%; } }

/*********************************** Clientes */
.clientes {
  background-color: #185ba7;
  padding: 40px;
  text-align: center; }
  .clientes .clientes-titulo h2 {
    margin-bottom: 40px; }

/*********************************** Promociones */
.promociones {
  padding: 2px;
  text-align: center;
  background-color: #429ae2; }
  .promociones__titulo {
    padding-bottom: 40px; }
  .promociones__newsletter {
    padding-bottom: 50px; }
    .promociones__newsletter .btn-primary {
      background-color: #000000;
      border-color: #000000; }

/*********************************** Contacto */
.contacto {
  padding: 40px;
  text-align: center; }
  .contacto .contacto-titulo {
    padding-bottom: 40px; }
    .contacto .contacto-titulo button {
      color: #ffffff;
      border-color: #325980;
      background-color: #429ae2; }
      .contacto .contacto-titulo button:hover {
        background-color: #325980; }

/* Contacto page */
form {
  margin: 0 auto;
  width: 40%;
  text-align: center; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; }
  .contact__intro {
    width: 80%;
    padding-bottom: 40px; }
    .contact__intro p {
      font-size: 20px; }
  .contact footer a {
    text-decoration: none; }

input,
textarea,
select {
  width: 100%;
  margin: 20px 0; }

.form-group label {
  color: #7a7979;
  font-size: 16px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600; }

.form-group .form-control {
  padding: 0 12px;
  border-color: #c7c6c6;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px; }

textarea#message {
  resize: none;
  padding: 10px;
  font-size: large; }

.map {
  margin-top: 70px;
  margin-bottom: 50px; }
  .map h3 {
    padding-bottom: 30px; }

/* Contacto responsive */
@media (max-width: 1024px) {
  form {
    width: 90%; }
    form button {
      margin: 5px 0; } }

/*********************************** Footer */
.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 40px; }
  .footer ul {
    list-style: none; }
  .footer a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s all; }
    .footer a:hover {
      color: #325980; }
  .footer .facebook {
    margin-right: 50px;
    font-size: 30px; }
  .footer .instagram {
    font-size: 30px; }
  .footer h3 {
    color: #185ba7; }
  .footer h4 {
    color: #185ba7; }
